<div class="gear">
  <i routerLink="/home" class="fa-solid fa-gear"></i>
</div>

<div class="lock-container">
  <i
    class="fa-solid fa-lock lock"
    *ngIf="!patternService.correct"
    [ngClass]="patternService.wrong ? 'shake' : ''"
  ></i>

  <i class="fa-solid fa-lock-open lock" *ngIf="patternService.correct"></i>
  <div
    [ngClass]="
      !patternService.correct && patternService.wrong ? 'show' : 'hidden'
    "
    class="wrong"
  >
    Riprova
  </div>
  <div [ngClass]="patternService.correct ? 'show' : 'hidden'">Corretta</div>
</div>

<div class="dots-wrapper" id="line">
  <div
    [ngClass]="dot.selected ? 'selected' : ''"
    *ngFor="let dot of this.patternService.dots; index as i"
    class="dot"
    #dot
  >
    <button
      class="innerDot"
      (touchmove)="onClick(dot, i, $event)"
      (touchend)="onTouchEnd()"
    >
      {{ dot?.i }}
    </button>
  </div>
</div>
