<div class="gear">
  <i routerLink="/home" class="fa-solid fa-gear"></i>
</div>

<div class="lock-container">
  <i
    class="fa-solid fa-lock lock"
    *ngIf="!correct"
    [ngClass]="wrong ? 'shake' : ''"
  ></i>

  <i class="fa-solid fa-lock-open lock" *ngIf="correct"></i>
  <div [ngClass]="!correct && wrong ? 'show' : 'hidden'" class="wrong">
    Riprova
  </div>
  <div [ngClass]="correct ? 'show' : 'hidden'">Corretta</div>
</div>

<div class="dots-wrapper" id="line">
  <div
    [ngClass]="dot.selected ? 'selected' : ''"
    *ngFor="let dot of dots; index as i"
    class="dot"
    #dot
  >
    <button
      class="innerDot"
      (touchmove)="onClick(dot, i, $event)"
      (touchend)="onTouchEnd()"
    >
      {{ dot?.i }}
    </button>
  </div>
</div>
