/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

html,
body {
  height: 100vh;
}

body {
  /* background-color: pink; */
  background: hsla(333, 100%, 53%, 1);

  background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff0f7b", endColorstr="#f89b29", GradientType=1);

  overscroll-behavior: none;
  overflow: hidden;
}