<div class="lock-container">
  <div [ngClass]="!patternService.patternSet ? 'show' : 'hidden'" class="wrong">
    Traccia una sequenza di sblocco
  </div>
  <div [ngClass]="patternService.patternSet ? 'show' : 'hidden'">
    Sequenza salvata con successo
  </div>
</div>

<div class="dots-wrapper" id="line">
  <!-- <div class="line"></div> -->
  <div
    [ngClass]="dot.selected ? 'selected' : ''"
    *ngFor="let dot of dots; index as i"
    class="dot"
    #dot
  >
    <button
      class="innerDot"
      (touchmove)="onClick(dot, i, $event)"
      (touchend)="onTouchEnd()"
    >
      {{ dot?.i }}
    </button>
  </div>
</div>
