<h2 class="title">Set Lock Pattern</h2>

<div class="lock-container">
  <i class="fa-solid fa-lock" *ngIf="!correct"></i>
  <i class="fa-solid fa-lock-open" *ngIf="correct"></i>
</div>

<div class="dots-wrapper" id="line">
  <!-- <div class="line"></div> -->
  <div
    [ngClass]="dot.selected ? 'selected' : ''"
    *ngFor="let dot of dots; index as i"
    class="dot"
    #dot
  >
    <button class="innerDot" (click)="onClick(dot, i)">
      {{ dot?.i }}
    </button>
  </div>
</div>
<!-- (touchstart)="onClick($event, 'start')"
(touchmove)="onClick($event, 'move')"
(touchend)="onClick($event, 'end')" -->
