.title {
  text-align: center;
  margin-bottom: 12rem;
}

.dot {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dotRow {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dot:hover {
  border: 2px solid white;
}

.dots-wrapper {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 60%;
}
/* .testo {
  display: none;
} */
